@charset "UTF-8";
h1{

	font-family:'PottaOne';
	margin-right:30%;
	background-color:blue;
	text-align:center;
	color:yellow;
}
@font-face{
	src: url(PottaOne-Regular.ttf);
	font-family:PottaOne;
	
}
@font-face{
	src: url(YuseiMagic-Regular.ttf);
	font-family:YuseiMagic;
	
}
.p1{
	box-sizing: content-box;
	
	 display: inline; 
	  width: 30%;
	  height:20%;
	  float:left;
	  background-color:  rgb(0, 128, 128);
	  color:white;
}
.p2{
	box-sizing: content-box;
	
	 display: inline; 
	   width:70%;
	  height:20%;
	  float:right;
	  background-color: #ffffff;
	  color:yellow;
	
}
span{
	
	 background-color: #000000;
}
section{
	float:left; padding:10px;
}
.p3{
	font-family: 'Coda Caption', sans-serif;
	
}
.p4{
	font-family:'YuseiMagic';
}
.blue{
	
	box-sizing: content-box;
	display: inline; 
	 width: 70%;
	  height:10%;
	  float:left;
	  background-color: blue;
	  color:blue;
}